{% extends "auctions/layout.html" %}
{% load static %}



<link href="{% static 'auctions/styles.css' %}" rel="stylesheet">

{% block body %}

    <h1 style="text-align:center;margin-top:50px;font-weight:900;">Login</h1>

    {% if message %}
    <div class="alert alert-{{tag}}" role="alert">
      {{message}}
      </div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="register">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
       
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <br>
        <input id="button_register" class="btn btn-primary" type="submit" value="Login">
            <br><br><br>
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>

        </div>
    </form>

    
{% endblock %}